
:root {
  --primary-color: #014d27;
  --secondary-color: #a6ce37;
  --light-green-color: #a6ce3766;
  --white: #FFF;
  --gray: #949494;
  --error: #fb7c7c;
  --light-gray: #94949427;
  --light-blue: #5aa9f9;
  --light-yellow: #f5f946bf;
  --warning-orange: #ffc107;
  --yellow-gold: #F9B233;
}
