@import "../../../config-scss/rem-calc.scss";

section {
  padding: 15px;
}

.certification {
  margin: 0px auto 20px auto;
  max-width: 750px;
  padding: 5px;
  border: solid var(--secondary-color) 1px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 5px 5px 5px rgba(166, 206, 55, 0.3);
  background-color: rgba(166, 206, 55, 0.3);
  color: var(--primary-color);

  h1 {
    padding-top: 12px;
    font-size: 1.8rem;
    font-weight: bolder;
    color: var(--secondary-color);
  }

  .name {
    font-family: 'Ephesis', cursive;
    font-size: 1.5rem;
  }
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .card {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    background-color: var(--error);
    color: var(--white);
  }

  mat-form-field {
    width: 100%;
  }

  mat-icon {
    opacity: .5;
  }

  mat-error {
    margin: -15px 0 20px 0;
    padding-left: 10px;
    width: 100%;
    text-align: start;
  }

  button {
    margin-bottom: 10px;
    width: rem-calc(250);
  }
}


.logo-course {
  display: flex;
  justify-content: center;
  img {
    width: 270px;
    animation: float 6s ease-in-out infinite;
  }
}

/*Loader*/
.custom-loader {
  margin: 50px auto;
  width:50px;
  height:50px;
  --c:radial-gradient(farthest-side,#A6CE37 92%,#0000);
  background:
    var(--c) 50% 0,
    var(--c) 50% 100%,
    var(--c) 100% 50%,
    var(--c) 0    50%;
  background-size:12px 12px;
  background-repeat:no-repeat;
  animation:s7 1s infinite;
}

/*animation loader*/
@keyframes s7 {to{transform: rotate(.5turn)}}

/*animation float*/
@keyframes float {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(20px);
  }

  100% {
    transform: translatey(0px);
  }
}
