<main>
  <button
    mat-icon-button aria-label="voltar" class="back-page"
    (click)="back()">
    <mat-icon>keyboard_return</mat-icon>
  </button>
  <h2>Editar Aluno:  {{student.name}}</h2>
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">

    <mat-tab label="Dados Cadastrais">
      <div class="basic-informations">
        <form [formGroup]="studentForm">
          <mat-form-field appearance="outline" class="max-width">
            <mat-label>Nome</mat-label>
            <input matInput placeholder="Nome completo" formControlName="name">
          </mat-form-field>

          <div class="flex-wrap">
            <mat-form-field appearance="outline">
              <mat-label>CPF</mat-label>
              <input matInput placeholder="Ex. 999.999.999-99"
              formControlName="cpf"
              mask="000.000.000-00">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Telefone</mat-label>
              <input matInput placeholder="(81) 99999-9999"
              formControlName="phone"
              mask="(00) 00000-0000">
            </mat-form-field>

            <mat-form-field class="i-date" appearance="outline">
                <mat-label>Data de Nascimento</mat-label>
                <input matInput [matDatepicker]="dateBirth"
                [min]="minDate" [max]="maxDate"
                formControlName="dateBirth" readonly="true">
                <mat-datepicker-toggle matIconSuffix [for]="dateBirth">
                </mat-datepicker-toggle>
                <mat-datepicker #dateBirth></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="flex-end">
            <span *ngIf="studentUpdateHasError" class="form-error">
              Preencha todos os campos obrigatórios *
            </span>
            <button mat-raised-button color="primary" class="btn-actions"
            (click)="updateStudent()">
              Atualizar
            </button>
          </div>
        </form>

        <div class="danger-zone">
          <h3>Zona de perigo</h3>
          <button mat-stroked-button color="warn" class="btn-actions">
            Deletar Aluno
          </button>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Matrícula">
     <div class="basic-informations">

      <form [formGroup]="registrationForm">
        <div class="flex-wrap" *ngFor="let registration of student.registrations">
          <div class="part-money">
            <div class="content-value-payment">
              <h3 class="value-payment">Valor</h3>
              <P class="value-payment">{{registration.price | currency}}</P>
            </div>

            <mat-form-field appearance="outline">
              <mat-label>Desconto</mat-label>
              <input matInput placeholder="R$ 0,00"
              formControlName="discount"
              mask="separator.2" thousandSeparator="." decimalMarker=","
              (input)="calcDebitMat()">
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Total pago</mat-label>
              <input matInput placeholder="R$ 0,00"
              formControlName="received"
              mask="separator.2" thousandSeparator="." decimalMarker=","
              (input)="calcDebitMat()">
            </mat-form-field>

            <p class="value-debit">Débito: {{registrationReative.debit | currency}}</p>
          </div>

          <div class="part-date">
            <div class="content-date-payment">
              <h3 class="date-payment">Vencimento</h3>
              <p class="date-payment">
                {{registrationReative.dueDate! | dateDescribe:'dd/MM/yyyy'}}
              </p>
            </div>
            <mat-form-field class="i-date" appearance="outline">
              <mat-label>Data do Pagamento</mat-label>
              <input matInput [matDatepicker]="picker2"
                formControlName="payday">
              <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div class="flex-end">
          <button mat-raised-button color="primary" class="btn-actions"
            (click)="updateRegistration()">
            Atualizar
          </button>
        </div>
      </form>
     </div>
    </mat-tab>

    <mat-tab label="Mensalidade">
      <div class="basic-informations">

        <mat-form-field appearance="outline" class="max-width">
          <mat-label>Mensalidade</mat-label>
          <mat-select [(value)]="selectedMonthPayment">
            <mat-option [value]="i" *ngFor="let m of monthPaymentsReative; let i = index">
              {{ m.payday! | dateDescribe:'MMMM' | capitalize}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div *ngFor="let monthPayment of monthPaymentsReative; let i = index">

          <div class="each-month flex-wrap" *ngIf="i == selectedMonthPayment">
            <div class="part-money">
              <div class="content-value-payment">
                <h3 class="value-payment">Valor</h3>
                <P class="value-payment">{{monthPayment.price | currency}}</P>
              </div>

              <mat-form-field appearance="outline">
                <mat-label>Desconto</mat-label>
                <input matInput placeholder="R$ 0,00"
                [(ngModel)]="monthPaymentsReative[i].discount"
                mask="separator.2" thousandSeparator="." decimalMarker=","
                (input)="calcDebitMonthPayment(i)">
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Total pago</mat-label>
                <input matInput placeholder="R$ 0,00"
                [(ngModel)]="monthPaymentsReative[i].received"
                mask="separator.2" thousandSeparator="." decimalMarker=","
                (input)="calcDebitMonthPayment(i)">
              </mat-form-field>
              <p class="value-debit">Débito: {{monthPaymentsReative[i].debit | currency}}</p>
            </div>
            <div class="part-date">
              <div class="content-date-payment">
                <h3 class="date-payment">Vencimento</h3>
                <p class="date-payment">
                  {{monthPayment.payday! | dateDescribe:'dd/MM/yyyy'}}
                </p>
              </div>
              <mat-form-field class="i-date" appearance="outline">
                <mat-label>Data do Pagamento</mat-label>
                <input matInput [matDatepicker]="picker2"
                [value]="monthPayment.payday"
                [(ngModel)]="monthPaymentsReative[i].payday">
                <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="flex-end">
          <button mat-raised-button color="primary" class="btn-actions"
          (click)="updateMonthPayment()">
            Atualizar
          </button>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</main>
