@import '../../../../config-scss/rem-calc.scss';

main {
  padding: rem-calc(20);

  .back-page {
    margin-bottom: rem-calc(10);
    color: var(--gray);
  }

  h2 {
    color: var(--primary-color);
  }

  .max-width {
    width: 100%;
  }

  .divider {
    margin: 5px 0;
    height: 2px;
    background-color: var(--secondary-color);
  }

  mat-tab-group {
    margin-bottom: 48px;
  }

  .basic-informations {
    margin: 30px auto;
    padding: 15px;
    max-width: rem-calc(800);
    box-shadow: 3px 3px 5px var(--gray);
    border-radius: 10px;
    border: 1px solid var(--secondary-color);

    .flex-wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .part-money {
      display: flex;
      flex-direction: column;
    }

    .content-value-payment {
      margin-bottom: 20px;
      .value-payment {
        margin: 0;
        font-size: 1.2rem;
        font-weight: 500;
        color: var(--secondary-color);
      }
    }

    .content-date-payment {
      margin-bottom: 20px;
      .date-payment {
        margin: 0;
        font-size: 1.2rem;
        font-weight: 500;
        color: var(--gray);
      }
    }

    .value-debit {
      margin: 0;
      font-size: 1.2rem;
      font-weight: 400;
      color: var(--error);
    }

    .danger-zone {
      margin: 20px 0;
      padding: 10px;
      border: 1px solid var(--error);
      border-radius: 10px;
      color: var(--error);

      .align-items {
        display: flex;
        align-items: center;
        margin-bottom: 15px;

        p {
          margin: 0 10px;
        }
      }

      .btn-danger-student {
        width: 230px;
      }
    }
  }

  .flex-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .form-error {
      margin-right: 10px;
      color: var(--error);
    }
  }

  .btn-actions {
    width: rem-calc(150);
  }
}
