@import '../../../../config-scss/rem-calc.scss';

main {
  padding: rem-calc(20);

  h2 {
    color: var(--primary-color);
  }

  .chart {
    overflow-x: auto; /* Adiciona uma barra de rolagem horizontal quando o conteúdo excede a largura da div */
    height: rem-calc(600);
  }

  /*Loader*/
  .custom-loader {
    margin: 50px auto;
    width:50px;
    height:50px;
    --c:radial-gradient(farthest-side,#A6CE37 92%,#0000);
    background:
      var(--c) 50% 0,
      var(--c) 50% 100%,
      var(--c) 100% 50%,
      var(--c) 0    50%;
    background-size:12px 12px;
    background-repeat:no-repeat;
    animation:s7 1s infinite;
  }

  /*animation loader*/
  @keyframes s7 {to{transform: rotate(.5turn)}}
}
