<main>
  <h2>Análise Financeira</h2>
  <h3>Faturamento anual por mensalidades</h3>
  <div class="header-year">
    <div class="group-name-number">
      <p>Anual: </p>
      <p class="h-number">{{calcMoneyYear() | currency}}</p>
    </div>
    <div class="group-name-number">
      <p>Média Mensal: </p>
      <p class="h-number">{{calcAvgYear() | currency}}</p>
    </div>
  </div>
  <div class="custom-loader" *ngIf ="!datasCompleted"></div>
  <div class="content-chart" *ngIf ="datasCompleted">
    <div class="charts">
      <ngx-charts-bar-vertical
        [view]="viewBar"
        scheme="nightLights"
        [results]="months"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel">
      </ngx-charts-bar-vertical>

      <ngx-charts-pie-chart
      [view]="viewPie"
      scheme="nightLights"
      [results]="division"
      [gradient]="gradient"
      [labels]="showLabels"
      [doughnut]=true
      >
      </ngx-charts-pie-chart>
    </div>

  </div>

  <h3>Faturamento anual por Matrículas</h3>
  <div class="header-year header-year-registration">
    <div class="group-name-number">
      <p class="color-black">Anual: </p>
      <p class="h-number">{{calcTotalRegistrations() | currency}}</p>
    </div>
    <div class="group-name-number">
      <p class="color-black">Média Mensal: </p>
      <p class="h-number">{{calcAvgRegistrationYear() | currency}}</p>
    </div>
  </div>

  <div class="content-chart">
    <div class="charts">
      <ngx-charts-bar-vertical
        [view]="viewBar"
        scheme="aqua"
        [results]="monthsRegistration"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel">
      </ngx-charts-bar-vertical>

      <ngx-charts-pie-chart
      [view]="viewPie"
      [customColors]="colorSchemePie"
      [results]="divisionExpenses"
      [gradient]="gradient"
      [labels]="showLabels"
      [doughnut]=true
      >
      </ngx-charts-pie-chart>
    </div>

  </div>

  <div class="content-chart">
    <h3>Histórico completo</h3>

    <div class="dates-chart-lines">
      <mat-form-field appearance="outline" class="m-r">
        <mat-label>Data Início</mat-label>
        <input matInput [matDatepicker]="start" [(ngModel)]="dateStart" readonly>
        <mat-datepicker-toggle matIconSuffix [for]="start"></mat-datepicker-toggle>
        <mat-datepicker #start></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline" class="m-r">
        <mat-label>Data Final</mat-label>
        <input matInput [matDatepicker]="end" [(ngModel)]="dateEnd" readonly>
        <mat-datepicker-toggle matIconSuffix [for]="end"></mat-datepicker-toggle>
        <mat-datepicker #end></mat-datepicker>
      </mat-form-field>
      <button
        mat-flat-button color="primary"
        (click)="requestLineChart()"
        [disabled]="!isDateEndMoreThanDateStart()">Atualizar</button>
    </div>
    <div class="warning-date" *ngIf="!isDateEndMoreThanDateStart()">
      <mat-icon aria-hidden="false" aria-label="Atenção" fontIcon="warning">
      </mat-icon>
      <p>Atenção data inicial maior que a data final, por favor inverta as datas</p>
    </div>

    <div class="header-year header-year-total">
      <div class="group-name-number color-primary">
        <p>Mensalidades: </p>
        <p class="h-number color-primary">{{calcLineChart('Mensalidades') | currency}}</p>
      </div>

      <div class="group-name-number color-primary">
        <p class="color-black">Matriculas: </p>
        <p class="h-number">{{calcLineChart('Matriculas') | currency}}</p>
      </div>

      <div class="group-name-number color-primary">
        <p class="color-orange">Despesas: </p>
        <p class="h-number color-orange">{{calcLineChart('Despesas') | currency}}</p>
      </div>
    </div>
    <div class="charts">
      <ngx-charts-line-chart
        [view]="viewBar"
        [scheme]="colorSchemeLine"
        [results]="linesChart"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showYAxis"
        legendTitle="Legenda"
        [legendPosition]="legendPositionLine"
        [showXAxisLabel]="showXAxisLabel"
        [xAxisLabel]="xAxisLabelLine"
        [showYAxisLabel]="showYAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [animations]="showYAxisLabel">
      </ngx-charts-line-chart>
    </div>
  </div>

</main>
