@import '../../../../config-scss/rem-calc.scss';

main {
  padding: rem-calc(20);

  h2 {
    color: var(--primary-color);
  }

  .header-year {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 4px 2px 10px var(--secondary-color);

    .group-name-number {
      margin-bottom: 5px;
      display: flex;
      align-items: center;
      width: 250px;
      p {
        margin: 0;
        font-size: 1rem;
        font-weight: lighter;
        color: var(--primary-color);
      }

      .h-number {
        margin: 0 10px;
        font-size: 1.4rem;
        font-weight: 400;
        color: var(--gray);
      }
    }
  }

  .header-year-registration {
    box-shadow: 4px 2px 10px var(--light-blue) !important;
    .color-black {
      color: black !important;
    }
  }

  .content-chart {
    .charts {
      display: flex;
      flex-wrap: wrap;
      ngx-charts-bar-vertical, ngx-charts-pie-chart{
        //Adiciona uma barra de rolagem horizontal quando o conteúdo excede a largura da div
        overflow-x: auto;
      }
    }
  }

  /*Loader*/
  .custom-loader {
    margin: 50px auto;
    width:50px;
    height:50px;
    --c:radial-gradient(farthest-side,#A6CE37 92%,#0000);
    background:
      var(--c) 50% 0,
      var(--c) 50% 100%,
      var(--c) 100% 50%,
      var(--c) 0    50%;
    background-size:12px 12px;
    background-repeat:no-repeat;
    animation:s7 1s infinite;
  }

  /*animation loader*/
  @keyframes s7 {to{transform: rotate(.5turn)}}
}
