@import '../../../../config-scss/rem-calc.scss';

main {
  padding: rem-calc(20);

  h2 {
    color: var(--primary-color);
  }

  .card-course {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: rem-calc(5);
    max-width: rem-calc(250);
    min-height: rem-calc(90);
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(0 0 0 / 20%);
    background: var(--light-gray);

    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;

    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;

    p {
      margin: 0;
      font-family: system-ui;
      font-size: 1.2rem;
      font-weight: 600;
      color: var(--primary-color);
    }

    &:hover {
      background: rgba(166, 206, 54, 0.2);
    }
  }
}
