<main>
  <section class="header">
    <div class="banner-ceslab">
      <img src="../assets/images/logo-ceslab.png" alt="banner-ceslab"></div>
  </section>

  <section class="banner-main">
    <div class="logo-course">
      <img src="../assets/images/logos/course-logo-green.png" alt="logo do curso">
    </div>
    <div>
      <div class="geo">
        <img src="../assets/images/teacher/geovanna-agulha-trans.png" alt="geovanna prof">
      </div>
    </div>
  </section>

  <div class="wave">
    <svg viewBox="0 0 1356 245" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill="#014D27" d="M 0 50 C 344.5 50 344.5 110 689 110 L 689 110 L 689 0 L 0 0 Z" stroke-width="0"></path> <path fill="#014D27" d="M 688 110 C 1022 110 1022 0 1356 0 L 1356 0 L 1356 0 L 688 0 Z" stroke-width="0"></path> </svg>
  </div>



  <section class="info">
    <h3>Informações</h3>
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Aulas práticas e teóricas
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Técnicas de biossegurança</p>
        <p>Anatomia dos principais membros</p>
        <p>Punção à vácuo</p>
        <p>Fases da análises clínicas</p>
        <p>Transporte e armazenamento das amostras</p>
        <p>200h de curso</p>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Por que devo fazer o curso?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Para promover a aptidão para atuar em qualquer unidade
          hospitalar ou laboratorial como Flebotomista formado e treinado, conhecendo as técnicas apropriadas e corretas para a realização dos exames laboratoriais, reduzindo assim os erros nos procedimentos técnicos esperados, visto que 50% dos erros acontecem na fase pré analítica.</p>
        <p>Maiores chances de ingressar no mercado de trabalho pela falta de mão de obra especializada.</p>
        <p>Ter segurança na execução das rotinas do ambiente laboratorial.</p>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Terei certificado de conclusão?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Sim, certificado válido em todo território brasileiro.</p>
        <p>Seu certificado será também de forma digital</p>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Quando será às aulas?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Turma às QUARTAS-FEIRAS a partir de Outubro das 19:00 às 22:00</p>
        <p>Turma aos SÁBADOS a partir de Outubro das 19:00 às 22:00</p>
        <p>Turma aos DOMINGOS a partir de Outubro das 09:00 às 12:00</p>

        <p>Duração de 3 meses</p>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Onde será às aulas?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="container-local">
          <h3>Turmas Belo Jardim</h3>
          <p>Ceslab</p>
          <p>Rua Floriano Peixoto, 80 Centro</p>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3947.6924455457865!2d-36.42185318536484!3d-8.333326494005293!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7a9c71064bdfab1%3A0x6fb3ebe8fd1a2ae8!2sCeslab!5e0!3m2!1spt-BR!2sbr!4v1681141515210!5m2!1spt-BR!2sbr" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
          </iframe>
        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Preciso ter algum conhecimento prévio?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Não, você será totalmente instruída(o), iremos do básico ao avançado.</p>
      </mat-expansion-panel>
    </mat-accordion>
  </section>

  <section id="teachers">
    <h3>Instrutora</h3>

    <div class="teachers-together" id="teacher-geovanna">
      <div class="card-teacher">
        <img src="../assets/images/avatar-geovanna.png" alt="Dra. Geovanna" class="geo" [ngClass]="{'slide-top': showElementGeo}">
        <h2>Dra. Geovanna Samara</h2>
        <strong>
          <p>Biomédica</p>
        </strong>
        <p>Patologista Clínica</p>
        <p>Citologista Oncótica</p>
      </div>
    </div>
  </section>

  <section id="video-what-learn">
    <h3>Um pouco do que vamos aprender</h3>
    <div class="video-single">
      <video width="300" height="450" controls poster="../assets/images/covers/cover-single.png">
        <source src="../assets/videos/utencilios-pratica.mp4" type="video/mp4">
      </video>
    </div>
  </section>

  <section class="students">

    <h3>Depoimentos</h3>
    <div id="carouselDepositions" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselDepositions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselDepositions" data-slide-to="1"></li>
        <li data-target="#carouselDepositions" data-slide-to="2"></li>
        <li data-target="#carouselDepositions" data-slide-to="3"></li>
        <li data-target="#carouselDepositions" data-slide-to="4"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="cards-wrapper">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="../assets/images/students/laryssa-souza-avatar.png" alt="estudante-larissa">
              <div class="card-body">
                <h5 class="card-title">Laryssa Souza</h5>
                <p class="card-text">A experiência foi excelente, me deixou muito segura com a prática de punção, além de todo o aprendizado com outras formas de punção e principalmente com a técnica à vácuo, fiquei apaixonada com a praticidade.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="cards-wrapper">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="../assets/images/students/wallison-avatar.png" alt="estudante-Wallisson">
              <div class="card-body">
                <h5 class="card-title">Wallisson Ribeiro</h5>
                <p class="card-text">Agradeço a Deus sempre,
                  eu poderia escrever minha experiência por algumas páginas, porém,
                  em poucas linhas descrevo a gratidão por fazer esse curso.
                  Com as práticas, tive êxito no estágio na UTI,
                  onde realizei punção em pacientes com muita
                  segurança naquilo que eu estava fazendo, antes segurança essa não existente.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="cards-wrapper">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="../assets/images/students/maria-karoline-avatar.png" alt="estudante-karoline">
              <div class="card-body">
                <h5 class="card-title">Maria Karoline</h5>
                <p class="card-text">Só tenho agradecimentos por este curso maravilhoso! Por toda paciência e dedicação conosco nesses 3 meses, por todo ensinamento apresentado. Sem falar da quantidade de práticas vivenciadas onde consegui aprender várias técnicas.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="cards-wrapper">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="../assets/images/students/erivania-santos-avatar.png" alt="estudante-erivânia">
              <div class="card-body">
                <h5 class="card-title">Erivânia Santos</h5>
                <p class="card-text">Curso Maravilhoso, aprendemos na prática várias técnicas como a da  broken needle ou "agulha quebrada", como é conhecida. Coleta à vácuo que por sinal é maravilhosa e muito prática, curso me levou a ter confiança, superou minhas expectativas.
                Posso afirmar que sou uma Flebotomista capacitada.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="cards-wrapper">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="../assets/images/students/camila-farias-avatar.png" alt="estudante-camila">
              <div class="card-body">
                <h5 class="card-title">Camila Farias</h5>
                <p class="card-text">Agradeço pela dedicação da instrutora fez toda diferença em nossa caminhada. Amei a didática do curso, as técnicas ensinadas, foi muito gratificante minha evolução, conclui o curso com segurança e preparada para exercer minha função da melhor forma possível.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselDepositions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
      </a>
      <a class="carousel-control-next" href="#carouselDepositions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Próximo</span>
      </a>
    </div>
  </section>

  <section class="videos">
    <h3>Um pouco de nossas práticas</h3>
    <div class="videos-wrap">
      <div class="video">
        <video width="300" height="450" controls poster="../assets/images/covers/puncao-vacuo.png">
          <source src="../assets/videos/vacuo-sound.mp4" type="video/mp4">
        </video>
      </div>
      <div class="video">
        <video width="300" height="450" controls
        poster="../assets/images/covers/broken-needle.png">
          <source src="../assets/videos/needle-sounde.mp4" type="video/mp4">
        </video>
      </div>
    </div>
  </section>

  <section class="zone-finish">
    <section id="payment">
      <h2 class="pay">Investimento</h2>
      <div class="payment">
        <div class="card-pay">
          <h2>Matrícula</h2>
          <p>R$ 150,00</p>
        </div>
        <div class="card-pay">
          <h2>Mensalidade</h2>
          <p>R$ 170,00</p>
        </div>
      </div>
      <div class="pay-form">
        <h3 class="t-pay">Formas de pagamento</h3>
        <h3 class="t-pay">Aceitamos as principais bandeiras em até 10x</h3>
        <div class="credit-cards">
          <img src="../assets/images/credit-card/mastercard.svg" alt="bandeira-master-card" class="master-card">
          <img src="../assets/images/credit-card/elo.svg" alt="bandeira-elo">
          <img src="../assets/images/credit-card/visa.svg" alt="bandeira-visa">
          <img src="../assets/images/credit-card/hipercard.svg" alt="bandeira-hipercard">
          <img src="../assets/images/credit-card/diners.svg" alt="bandeira-diners" class="diners">
          <img src="../assets/images/credit-card/logo-pix.png" alt="pix">
          <div class="transp"></div>
        </div>
      </div>
    </section>
    <div class="show-revel">
      <section id="text-revel">
        <div [ngClass]="{'revel' : showElementRevel}">
          <p *ngIf="showElementRevel">Fale conosco e</p>
        </div>
        <div [ngClass]="{'revel' : showElementRevel}">
          <p *ngIf="showElementRevel">faça sua matrícula</p>
        </div>
        <div [ngClass]="{'revel' : showElementRevel}">
          <p *ngIf="showElementRevel">vagas limitadas</p>
        </div>
        <div>
          <a href="https://api.whatsapp.com/send?phone=5581994283690" target="_blank">
            <img src="../assets/images/whatsapp-icon.png" alt="whatsapp">
          </a>
          <a href="https://www.instagram.com/gsamara_/?igshid=YmMyMTA2M2Y%3D" target="_blank">
            <img src="../assets/images/instagran-icon.png" alt="instagran">
          </a>
        </div>
      </section>
    </div>
  </section>

  <section class="footer">
    <img src="../assets/images/logo-ceslab-v2.png" alt="logo-ceslab" class="logo-footer">
    <img src="../assets/images/icons/map.png" alt="icon-map" class="map-icon">
    <a href="https://www.google.com.br/maps/place/Ceslab/@-8.3333449,-36.4207556,18.25z/data=!4m6!3m5!1s0x7a9c71064bdfab1:0x6fb3ebe8fd1a2ae8!8m2!3d-8.3333265!4d-36.4196645!16s%2Fg%2F11sf6q0wn6" target="_blank">
      <div class="address">
        <p>Rua Floriano Peixoto 80, Centro</p>
        <p>Belo Jardim - PE</p>
      </div>
    </a>
    <div class="info-footer">
      <a href="http://api.whatsapp.com/send?phone=5581992148810" target="_blank">
        <img src="../assets/images/icons/whatsapp.png" alt="icon-whats">
      </a>
      <div class="content">
        <a href="http://api.whatsapp.com/send?phone=5581992148810" target="_blank">
          (81) 99214-8810
        </a>
      </div>
    </div>

    <div class="social-media">
      <div class="info-footer">
        <a href="https://www.instagram.com/ceslab_/" target="_blank">
          <img src="../assets/images/icons/instagram.png" alt="icon-whats">
        </a>
        <div class="content">
          <a href="https://www.instagram.com/ceslab_/" target="_blank">
            @ceslab_
          </a>
        </div>
      </div>
      <div class="info-footer">
        <a href="https://www.facebook.com/profile.php?id=100090694023618&mibextid=LQQJ4d" target="_blank">
          <img src="../assets/images/icons/facebook.png" alt="icon-facebook">
        </a>
        <div class="content">
          <a href="https://www.facebook.com/profile.php?id=100090694023618&mibextid=LQQJ4d" target="_blank">
            ceslab
          </a>
        </div>
      </div>
    </div>


    <a href="https://github.com/FernandesJr" target="_blank">
      <p class="developer">Developed by GilferCode</p>
    </a>
  </section>

  <div class="whatapp">
    <a href="https://api.whatsapp.com/send?phone=5581994283690" target="_blank">
      <img src="../assets/images/whatsapp-icon.png" alt="whatsapp">
    </a>
  </div>
</main>
