@import '../../../../config-scss/rem-calc.scss';

main {
  padding: rem-calc(20);

  .header {
    display: flex;
    justify-content: space-between;
    
    h2 {
      color: var(--primary-color);
    }
  }


  .card-course {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: rem-calc(15);
    padding: rem-calc(5);
    width: 100%;
    min-height: rem-calc(75);
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(0 0 0 / 20%);
    background: var(--secondary-color);
    color: var(--primary-color);

    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;

    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;

    p {
      margin: 0;
      font-family: system-ui;
      font-size: 1.2rem;
      font-weight: 600;
    }

    &:hover {
      background: var(--primary-color);
      color: var(--secondary-color);
    }
  }

  .completed {
    background-color: rgba(166, 206, 54, 0.2);
  }
}
