main{
  height: 100vh;
  
  .banner-main{
    height: 280px;
    padding: 10px;
    text-align: center;
    background: var(--secondary-color);

    div.card {
      padding: 30px;
      min-width: 150px;
      border-radius: 10px;
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.568);
      background: var(--brown-strong);
      color: var(--primary-color);
      
      h1{
        width: 100%;
        font-size: 3rem;
        font-family: 'Encode Sans', sans-serif;
      }

      h2 {
        width: 100%;
        font-size: 2.7rem;
        font-family: 'Encode Sans', sans-serif;
        font-weight: 100;
      }
    }

    img {
      padding-top: 25px;
      opacity: .2;
      transform: translateY(-300px);
      animation-name: slid-y-top;
      animation-duration: 1.6s;
      animation-fill-mode: forwards; /*Permanece no estado final da animação*/
      animation-timing-function: linear;
    }
  }

  .doctors {
    padding: 20px;
    background: var(--secondary-color);
    
    a {
      display: block;
      padding: 5px;
      text-decoration: none;
      text-align: center;
      font-size: 1.2rem;
      color: var(--brown-strong);

      opacity: .2;
      transform: translateY(-300px);
      animation-name: slid-x-left;
      animation-duration: 1.6s;
      animation-fill-mode: forwards; /*Permanece no estado final da animação*/
      animation-timing-function: linear;
    }
  }

  h3 {
    padding: 30px;
    text-align: center;
    font-size: 2rem;
    color: var(--brown-strong);
  }

  section.info {
    padding: 10px;

    mat-accordion {
      width: 100%;

      mat-expansion-panel {
        margin-bottom: 5px;
        background: var(--secondary-color);

        p {
          color: var(--brown-strong);
        }

        iframe {
          margin: auto;
          width: 100%;
          height: 300px;
        }
      }
      
      mat-panel-title {
        color: white;
      }
    }

    
  }
}

//Arrumando bug do material no telas de celulares
@media (hover: none){
  .mat-expansion-panel:not(.mat-expanded):not([aria-disabled=true]) .mat-expansion-panel-header:hover {
    background: var(--secondary-color);
  } 
}


//Movimento horizontal para esquerda
@keyframes slid-x-left {

  25% {
      transform: translateX(-150px);
      opacity: .4;
  }

  50% {
      transform: translateX(-100px);
      opacity: .6;
  }

  75% {
      transform: translateX(-50px);
      opacity: .8;
  }

  100% {
      transform: translateX(0px);
      opacity: 1;
  }
}

//Movimento horizontal para direita
@keyframes slid-x-right {

  25% {
      transform: translateX(150px);
      opacity: .4;
  }

  50% {
      transform: translateX(100px);
      opacity: .6;
  }

  75% {
      transform: translateX(50px);
      opacity: .8;
  }

  100% {
      transform: translateX(0px);
      opacity: 1;
  }
}

//Movimento vertical para baixo
@keyframes slid-y-top {

  25% {
      transform: translateY(-150px);
      opacity: .4;
  }

  50% {
      transform: translateY(-100px);
      opacity: .6;
  }

  75% {
      transform: translateY(-50px);
      opacity: .8;
  }

  100% {
      transform: translateY(0px);
      opacity: 1;
  }
}