main{
  height: 100vh;

  .banner-ceslab {
    max-width: 700px;
    margin: auto;
    padding-top: 1.5rem;

    img {
      width: 100%;
    }
  }

  .banner-main {
    padding: 10px;
    text-align: center;

    div.card-heard {
      padding: 30px;
      min-width: 150px;
      border-radius: 10px;
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.568);
      background-color: var(--primary-color);
      color: var(--white);

      opacity: .2;
      transform: translateY(-300px);
      animation-name: slid-y-top;
      animation-duration: 1.6s;
      animation-fill-mode: forwards; /*Permanece no estado final da animação*/
      animation-timing-function: linear;

      .inline {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        h1{
          padding: 10px;
          font-family: 'Archivo', sans-serif;
          font-size: 3rem;
          font-weight: 800;
        }

        p {
          margin-top: -5px;
          font-size: 2rem;
          padding: 10px;
          border-radius: 25px;
          background-color: var(--white);
          color: var(--primary-color);
        }

      }


      h2 {
        width: 100%;
        font-family: 'Rouge Script', cursive;
        font-size: 4.5rem;
        line-height: 1;
        margin: 0;
      }
    }
  }

  h3 {
    padding: 30px;
    text-align: center;
    font-size: 2rem;
    color: var(--brown-strong);
  }

  section.info {
    padding: 10px;

    mat-accordion {
      width: 100%;

      mat-expansion-panel {
        margin-bottom: 5px;
        background: var(--secondary-color);

        p {
          color: var(--brown-strong);
        }

        iframe {
          margin: auto;
          width: 100%;
          height: 300px;
        }
      }

      mat-panel-title {
        color: white;
      }
    }
  }

  section#teachers {
    padding: 10px;

    .teachers-together {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;

      .card-teacher {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 350px;
        max-width: 450px;
        margin-bottom: 25px;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.17);

        h2 {
          color: var(--brown-strong);
        }

        p {
          color: var(--primary-color);
        }

        img {
          width: 200px;
          margin: auto;
        }
      }
    }
  }

  section.zone-finish {
    background: var(--brown-strong);
    margin-bottom: -2px;

    a {
      text-decoration: none;
    }

    .developer {
      text-align: center;
      color: rgba(255, 255, 255, 0.25);
      margin-bottom: -3px !important;
    }
  }

  section#payment {
    padding: 10px;
    background: var(--brown-strong);

    h2.pay {
      padding: 10px;
      font-size: 2rem;
      text-align: center;
      color: var(--primary-color);
    }

    .payment {
      display: flex;
      justify-content: space-around;

      .card-pay {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-width: 150px;
        min-height: 150px;
        text-align: center;
        border-radius: 10px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.17);
        background: var(--primary-color);
        color: var(--brown-strong);

        p {
          width: 100%;
          font-size: 1.5rem;
          padding: 10px;
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.17);
          background: var(--brown-strong);
          color: var(--primary-color);
        }
      }
    }
  }

  section#contacts {
    display: flex;
    justify-content: center;
    padding: 40px 10px;
    background-color: var(--brown-strong);

    .logo {
      display: flex;
      justify-content: right;
      width: 48%;
      min-height: 100px;

      img {
        width: 100px;
      }
    }

    .contact {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 48%;
      min-height: 100px;
      color: var(--primary-color);

      a {
        text-decoration: none;
        color: var(--primary-color);
      }
    }
  }

  .whatapp {
    position: fixed;
    right: 0px;
    bottom: 0px;
    img {
      width: 75px;
    }
  }
}

//Arrumando bug do material no telas de celulares
@media (hover: none){
  .mat-expansion-panel:not(.mat-expanded):not([aria-disabled=true]) .mat-expansion-panel-header:hover {
    background: var(--secondary-color);
  }
}


//Movimento horizontal para esquerda
@keyframes slid-x-left {

  25% {
      transform: translateX(-150px);
      opacity: .4;
  }

  50% {
      transform: translateX(-100px);
      opacity: .6;
  }

  75% {
      transform: translateX(-50px);
      opacity: .8;
  }

  100% {
      transform: translateX(0px);
      opacity: 1;
  }
}

//Movimento vertical para baixo
@keyframes slid-y-top {

  25% {
      transform: translateY(-150px);
      opacity: .4;
  }

  50% {
      transform: translateY(-100px);
      opacity: .6;
  }

  75% {
      transform: translateY(-50px);
      opacity: .8;
  }

  100% {
      transform: translateY(0px);
      opacity: 1;
  }
}
