<router-outlet></router-outlet>
<main>
  <section class="banner-main">
    <div class="card">
      <h1>Master Class</h1>
      <h2>Flebotomia</h2>
    </div>
    <img src="../assets/images/favicon.png" alt="" width="100px">
  </section>
  <section class="doctors">
    <a href="#teacher-geovanna">Dra. Geovanna Samara</a>
    <a href="#teacher-barbara">Dra. Bárbara Lula</a>
  </section>

  <section>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="../assets/images/banner-desconto.jpg" alt="banner-desconto">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../assets/images/banner-tecnicas.jpg" alt="banner-tecnicas">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Próximo</span>
      </a>
    </div>
  </section>
  <section class="info">
    <h3>Informações</h3>
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Aulas práticas e teóricas
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Técnicas de biossegurança</p>
        <p>Anatomia dos principais membros</p>
        <p>Punção à vácuo</p>
        <p>Fases da análises clínicas</p>
        <p>Transporte e armazenamento das amostras</p>
        <p>200h de curso + estágio supervisionado</p>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Por que devo fazer o curso?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Para promover a aptidão para atuar em qualquer unidade
          hospitalar ou laboratorial como Flebotomista formado e treinado, conhecendo as técnicas apropriadas e corretas para a realização dos exames laboratoriais, reduzindo assim os erros nos procedimentos técnicos esperados, visto que 50% dos erros acontecem na fase pré analítica.</p>
        <p>Maiores chances de ingressar no mercado de trabalho pela falta de mão de obra especializada.</p>
        <p>Ter segurança na execução das rotinas do ambiente laboratorial.</p>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Terei certificado de conclusão?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Sim, certificado válido em todo território brasileiro.</p>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Quando será as aulas?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Apartir do dia 30/10/2022</p>
        <p>Todos os domingos das 08:00 até às 11:00</p>
        <p>Com duração de 3 meses</p>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Onde será as aulas?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Colégio EREM Belo Jardim</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d806.2884744453949!2d-36.419862963199364!3d-8.326528169084192!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7a9c634f30177d3%3A0x37795b2a74260c44!2sEscola%20De%20Referencia%20Em%20Ensino%20Medio%20De%20Belo%20Jardim!5e0!3m2!1spt-BR!2sbr!4v1666190433099!5m2!1spt-BR!2sbr"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Preciso ter algum conhecimento prévio?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Não, você será totalmente instruida(o), iremos do básico ao avançado.</p>
      </mat-expansion-panel>
    </mat-accordion>
  </section>

  <section id="teachers">
    <h3>Instrutoras</h3>

    <div class="teachers-together" id="teacher-geovanna">
      <div class="card-teacher">
        <img src="../assets/images/avatar-geovanna.png" alt="Dra. Geovanna">
        <h2>Dra. Geovanna Samara</h2>
        <strong>
          <p>Biomédica</p>
        </strong>
        <p>Patologista Clínica</p>
        <p>Citologista Oncótica</p>
      </div>
      <div class="card-teacher" id="teacher-barbara">
        <img src="../assets/images/avatar-barbara.png" alt="Dra. Bárbara">
        <h2>Dra. Bárbara Lula</h2>
        <strong>
          <p>Biomédica</p>
        </strong>
        <p>Mestre Medicina Tropical</p>
        <p>Microbiologista</p>
      </div>
    </div>
  </section>

  <section class="zone-finish">
    <section id="payment">
      <h2 class="pay">Investimento</h2>
      <div class="payment">
        <div class="card-pay">
          <h2>Matrícula</h2>
          <p>150,00 R$</p>
        </div>
        <div class="card-pay">
          <h2>Mensalidade</h2>
          <p>170,00 R$</p>
        </div>
      </div>
    </section>
    <section id="contacts">
      <div class="logo">
        <a href="https://api.whatsapp.com/send?phone=5581994293690" target="_blank">
          <img src="../assets/images/whatapp-icon.png" alt="whatsapp">
        </a>
      </div>
      <div class="contact">
        <p>Fale conosco</p>
        <a href="https://api.whatsapp.com/send?phone=5581994283690" target="_blank">
          <p>(81) 9 9428-3690</p>
        </a>
      </div>
    </section>
    
    <a href="https://github.com/FernandesJr" target="_blank">
      <p class="developer">Developed by GilferCode</p>
    </a>
  </section>

  <div class="whatapp">
    <a href="https://api.whatsapp.com/send?phone=5581994283690" target="_blank">
      <img src="../assets/images/whatapp-icon.png" alt="whatsapp">
    </a>
  </div>
</main>
