<main>
  <h2>Alunos</h2>
  <div class="header-search">
    <mat-form-field appearance="outline">
      <mat-label>Pesquisar por nome do aluno</mat-label>
      <input matInput type="text" [(ngModel)]="searchByName" (keyup.enter)="search()">
      <button matSuffix mat-icon-button aria-label="Pesquisar" (click)="search()">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
    <button mat-mini-fab color="primary" aria-label="Adicionar Aluno"
      (click)="createStudent()" title="Novo Aluno" class="btn-add">
        <mat-icon>person_add</mat-icon>
      </button>
  </div>
  <div class="students">
    <div class="student"
    [ngClass]="{'in-debt': student.inDebt}"
    *ngFor="let student of students">
      <mat-expansion-panel >
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{student.name}}
          </mat-panel-title>
          <mat-panel-description>
            <mat-icon color="primary">account_circle</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="datas">
          <div class="data-basic">
            <p>CPF:</p>
            <span>
              {{student.cpf | cpfCnpj}}
            </span>
          </div>
          <div class="data-basic">
            <p>Telefone:</p>
            <span>
              {{student.phone | phone}}
            </span>
          </div>
          <div class="data-basic">
            <p>Nascimento:</p>
            <span>
              {{student.dateBirth | date : 'dd/MM/yyyy'}}
            </span>
          </div>
        </div>
        <div class="btn-edit-student">
          <button mat-stroked-button color="primary" (click)="editStudent(student.id)">
            Editar
          </button>
        </div>
      </mat-expansion-panel>
      <div class="icon-status">
        <mat-icon *ngIf="!student.inDebt" class="icon-ok">check_circle</mat-icon>
        <mat-icon *ngIf="student.inDebt" class="icon-warn">warning</mat-icon>
      </div>
    </div>
  </div>

  <mat-paginator #paginator
               (page)="handlePageEvent($event)"
               [length]="length"
               [pageSize]="pageSize"
               [showFirstLastButtons]="showFirstLastButtons"
               [hidePageSize]="hidePageSize"
               [pageIndex]="pageIndex"
               aria-label="paginação da página"
              >
    </mat-paginator>
</main>
