<main>
  <button mat-icon-button aria-label="voltar" class="back-page" (click)="back()">
    <mat-icon>keyboard_return</mat-icon>
  </button>

  <div class="header-team">
    <div class="name-team">
      <h2>Turma {{nameTeam | uppercase}}</h2>
      <p>Quantidade de alunos: {{students.length}}</p>
    </div>
    <div>
      <button mat-mini-fab aria-label="Editar turma"
      (click)="goEditStudent()" class="btn-edit" title="Editar turma">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-mini-fab color="primary" aria-label="Adicionar Aluno"
      (click)="addStudent()" title="Adicionar Aluno">
        <mat-icon>person_add</mat-icon>
      </button>
    </div>
  </div>

  <div class="students">
    <div class="student" *ngFor="let student of students">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{student.name}}
          </mat-panel-title>
          <mat-panel-description>
            <mat-icon color="primary">account_circle</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="datas">
          <div class="data-basic">
            <p>CPF:</p>
            <span>
              {{student.cpf | cpfCnpj}}
            </span>
          </div>
          <div class="data-basic">
            <p>Telefone:</p>
            <span>
              {{student.phone | phone}}
            </span>
          </div>
          <div class="data-basic">
            <p>Nascimento:</p>
            <span>
              {{student.dateBirth | date : 'dd/MM/yyyy'}}
            </span>
          </div>
        </div>
        <div class="divider"></div>
        <h3>Valores recebidos</h3>
        <div class="datas">
          <div class="data-basic">
            <p>Matricula:</p>
            <span>
              {{ getRegistration(student) | currency }}
            </span>
          </div>

          <div
            class="data-basic"
            *ngFor="let payment of student.monthPayments; let i = index">
            <p>Mensalidade ({{i+1}}):</p>
            <span>
              {{ payment.received | currency }}
            </span>
          </div>
        </div>
        <div class="btn-edit-student">
          <button mat-stroked-button color="primary" (click)="editStudent(student.id)">
            Editar
          </button>
        </div>
      </mat-expansion-panel>
    </div>
  </div>
</main>
