<main>
  <h2>{{nameTeam | uppercase}}</h2>
  <div class="students">
    <div class="student" *ngFor="let student of students">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{student.name}}
          </mat-panel-title>
          <mat-panel-description>
            <mat-icon>account_circle</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="datas">
          <div class="data-basic">
            <p>CPF:</p>
            <span>
              {{student.cpf}}
            </span>
          </div>
          <div class="data-basic">
            <p>Telefone:</p>
            <span>
              {{student.phone | phone}}
            </span>
          </div>
          <div class="data-basic">
            <p>Nascimento:</p>
            <span>
              {{student.dateBirth | date : 'dd/MM/yyyy'}}
            </span>
          </div>
        </div>
        <div class="divider"></div>
        <h3>Valores recebidos</h3>
        <div class="datas">
          <div class="data-basic">
            <p>Matricula:</p>
            <span>
              {{ getRegistration(student) | currency }}
            </span>
          </div>
        </div>
      </mat-expansion-panel>
    </div>
  </div>
</main>
