@import '../../../../config-scss/rem-calc.scss';

main {
  padding: rem-calc(20);

  .back-page {
    margin-bottom: rem-calc(10);
    color: var(--gray);
  }

  .header-team {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 4px 2px 10px var(--secondary-color);
    .name-team {
      margin-left: rem-calc(20);
      h2 {
        margin: 0;
        color: var(--primary-color);
      }
      p {
        margin: 0;
      }
    }

    .btn-edit {
      margin-right: rem-calc(10);
      background: var(--gray);
    }
  }

  .in-debt {
    background: var(--light-yellow) !important;
  }

  .student {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 5px;
    background: var(--primary-color);

    mat-expansion-panel {
      width: 95%;
      .mat-expansion-panel-header-description {
        justify-content: flex-end;
        align-items: center;
        max-width: 30px;
      }

      .datas {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        .data-basic {
          display: flex;
          align-items: center;
          margin-bottom: rem-calc(5);
          padding-right: rem-calc(15);

          p {
            margin: 0 5px 0 0;
          }

        }
      }

      h3 {
        margin: 10px 0;
        color: var(--primary-color);
      }

      .divider {
        margin: 5px 0;
        height: 2px;
        background-color: var(--secondary-color);
      }

      .btn-edit-student {
        display: flex;
        justify-content: flex-end;
      }
    }

    .icon-ok {
      margin-right: 7px;
      color: var(--secondary-color);
    }

    .icon-warn {
      margin-right: 7px;
      color: var(--gray);
    }
  }
}

@media (max-width: 500px) {
  mat-expansion-panel {
    width: 90% !important;
  }
}
