.name-team {
  margin-top: 5px;
  padding: 10px;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  color: var(--primary-color);
}

.full-width {
  box-sizing: border-box;
  width: 100%;
}

.i-margin-r {
  margin-right: 10px;
}

.warn {
  color: var(--error);
}
