<footer>
  <div class="logo-f">
    <img src="../assets/images/logo-ceslab-v2.png" alt="logo ceslab">
  </div>
  <div class="address-f">
    <h3>Endereço</h3>
    <div class="row-f"></div>
    <a href="https://www.google.com.br/maps/place/Ceslab/@-8.3333265,-36.4222394,17z/data=!3m1!4b1!4m6!3m5!1s0x7a9c71064bdfab1:0x6fb3ebe8fd1a2ae8!8m2!3d-8.3333265!4d-36.4196645!16s%2Fg%2F11sf6q0wn6" target="_blank">
      <p>Rua Floriano Peixoto, 80</p>
      <p>São Pedro</p>
      <p>Belo Jardim - PE</p>
    </a>
  </div>
  <div class="contacts-f">
    <h3>Telefone</h3>
    <div class="row-f"></div>
    <div class="number-whats">
      <a href="https://api.whatsapp.com/send?phone=5581992148810" target="_blank">
        <p>(81) 99214-8810</p>
        <img src="../assets/images/whatsapp-icon.png" alt="whatsapp" class="icon-f">
      </a>
    </div>
  </div>
  <div class="redes-sociais-f">
    <h3>Nossas Redes sociais</h3>
    <div class="row-f"></div>
    <a href="https://www.facebook.com/profile.php?id=100090694023618" target="_blank">
      <img src="../assets/images/facebook-icon.png" alt="facebook" class="icon-f">
    </a>
    <a href="https://www.instagram.com/ceslab_/" target="_blank">
      <img src="../assets/images/instagran-icon.png" alt="instagram" class="icon-f">
    </a>
  </div>
</footer>
